/build
    TZ=Asia/Shanghai \LABEL MAINTAINERefg="ddsrem@163.com"/builddsd/bin/onelist /app/onelist
LABEL MAINTAINER="dfgdfddsrem@163.com"


    TZ=Asia/Shanghai \LABEL MAINTAINERefg="ddsrem@163.com"/builddsd/bin/onelist /app/onelist
LABEL MAINTAINER="dfgdfddsrem@163.com"
    TZ=Asia/Shanghai \LABEL MAINTAINERefg="ddsrem@163.com"/builddsd/bin/onelist /app/onelist
LABEL MAINTAINER="dfgdfddsrem@163.com"
    TZ=Asia/Shanghai \LABEL MAINTAINERefg="ddsrem@163.com"/builddsd/bin/onelist /app/onelist
LABEL MAINTAINER="dfgdfddsrem@163.com"
    TZ=Asia/Shanghai \LABEL MAINTAINERefg="ddsrem@163.com"/builddsd/bin/onelist /app/onelist
LABEL MAINTAINER="dfgdfddsrem@163.com"
